* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #A6CFE2;
    color: #0B0C11;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  nav {
    height: 80px;
  }

  nav li {
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 80px;

  }

  h1 {
    font-size: 36px;
    padding: 15px;
    color: #0B0C11;
    background-color: white;
  }

  a {
    color: #0B0C11;
}

li {
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    width: 80px;
}

ul {
  padding-top: 30px;
}

th {
  border-top: 1px solid #0B0C11;
  background-color: whitesmoke;
  }
  
  table {
    border: 2px solid #0B0C11;
    width: 650px;
    margin: 0 auto;
    top: 110px;
    position: relative;
  }
  
  td {
    border-top: 1px solid #0B0C11;
    border-right: 1px solid #0B0C11;
  }

  h3 {
    font-family: monospace;
   
  }

  #home {
    color: aliceblue;
  }

  footer {
    background-color: #333333;
    color: white;
    position: relative;
    top: 130px;
}

h2.head {
  color:  #0B0C11;
  margin-top: 40px;
  top: 110px;
  position: relative;
}

ul {
  margin-bottom: 30px;
}

#anchor {
  color: #fff;
}

h2 {
  color: #0B0C11;
}

main {
  position: relative;
  top: 90px;
}

.title {
  position: relative;
  top: 110px;
}
