* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #BEA1A5;
  }
  
  h1 {
      font-size: 36px;
      padding: 30px;
      color: #000000;
      background-color: white;
  }

  main {
    text-align: center;
  }
  
  h2 {
    color: #000000;
    text-align: center;
    margin-top: 50px;
    position: relative;
    top: 50px;
  }
  
  table {
    position: relative;
    border: 2px solid #000000;
    width: 650px;
    margin: 0 auto;
    top: 50px;
  }
  
  thead {
    background-color: plum;
  }
  
  td {
    border-top: 1px solid #000000;
  }
  
  .code {
    font-family: monospace;
    background-color: rgb(255, 225, 237);
  }

  header {
    background-color: #ebebeb;
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  nav {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  nav li {
    color: #000000;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 80px;
  }

  footer {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    top: 80px;
}

main {
  position: relative;
  top: 50px;
}

#title {
  top: 50px;
}

a {
  color: #2D1FE8;
}